body {
  font-family: "Source Code Pro";
  font-size: 1em;
}

main {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 42.25rem;
}

p {
  text-align: center;
}

.notice {
  padding: .25em;
  border-radius: .25em;
  background: #ffc;
}
